<ul id="sitenav" class="links">
  <li><%= link_to "Calendar", page_path("calendar") %></li>
  <li><%= link_to "Presentations", presentations_path %></li>
  <li><%= link_to "Hackfests", page_path('hackfests') %></li>
  <li><%= link_to "Submit Proposal", new_proposal_path %></li>
  <li><a href="http://groups.google.com/group/boston-rubygroup" title="Mailing list">Mailing list</a></li>
  <li><a href="irc://irc.freenode.net/boston.rb">IRC</a></li>
  <li><a href="http://github.com/bostonrb/bostonrb/wiki" title="More information than you can handle">Wiki</a></li>
  <li><a href="http://twitter.com/bostonrb" title="Tweets from bostonrb">Twitter</a></li>
  <li><a href="http://github.com/bostonrb" title="Shared code from bostonrb">Github</a></li>
  <li><a href="https://github.com/bostonrb/bostonrb/wiki/Work" title="Opportunities for Boston Rubyists">Jobs</a></li>
</ul>

<p class='intro'>
  <span>Boston Ruby is a local community of Rubyists and enthusiasts of open source software.<br/>
  Experienced Rubyists regularly participate and new Rubyists are always welcome!</span>
</p>

<div class='upcoming'>
  <h2>Next Meeting: July 8 <span>7&ndash;9pm</span></h2>
  <div class='location'>
    <a href="http://maps.google.com/maps?q=215+1st+St+cambridge+%20ma+02142">Sermo office<br>215 1st St, 4th Floor / Cambridge, MA</a>
  </div>
  <div class='talk'>
    <div class='title'>Some talk</div>
    <div class='abstract'>
      <p>Lorem ipsum dolor sit amet, no vis dicunt alienum. Cum ei iusto ridens utamur, eos iisque
        pertinax comprehensam cu. Legere facilisi ad vix, in tempor integre delicata has. Mel
        reprehendunt comprehensam et, eum id clita apeirian. Quem elitr an sea, cu idque decore nec,
        sea no suas argumentum. Labores propriae sit ut, mea blandit sententiae at. Ad alia fugit
        expetendis mei, hinc oratio eu sit, accumsan suavitate similique eam id.
      </p>
    </div>
  </div>
</div>

<div class='events'>
  <h2>Regular Events</h2>
  <div class='event'>
    <h3>Monthly Meetings</h3>
    <p class='subtitle'>2<sup>nd</sup> Tuesday of every month, 7&ndash;9pm</p>
    <p>These events one or two 45-minute presentations, lightning talks, and announcements.</p>
  </div>
  <div class='event'>
    <h3>Hackfests</h3>
    <p class='subtitle'>1<sup>st</sup> and 3<sup>rd</sup> Tuesday of every month</p>
    <p>
      Typically five to twenty people show, and people do things like getting their first Rails app
      running or writing and releasing <a href="http://rubygems.org">Ruby gems</a>.<br/><br/>
      We will be writing code so bring a laptop and enthusiasm. For those without a project idea
      be willing to help others.
    </p>
  </div>
</div>
